__pycache__/
*.pyc
script.py

run sheets/

agents_v1.0.0.py

unittests/test_old_agents.py


untitled0.py


test_agents_sheets/test_lots_of_agents.xlsx

test_agents_sheets/test.xlsx

run_sheets/~$monopoly.xlsx

Version history/v3.1.0

agents.py

charts/

run_sheets/

unittests/

Version history/
